@import url("https://fonts.googleapis.com/css?family=Open+Sans");

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: radial-gradient(#d6d6d6, #e6e6e6);
}

#quiz {
  box-sizing: border-box;
  width: 500px;
  border: 1px solid #312e59;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 1px 1px 8px black;
  //background-color: white;
  #question {
    color: #312e59;
    font-weight: 500;
    font-size: 1.5em;
    width: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
  }
  #answers {
    text-align: center;
    padding: 10px 0;
    background-color: #312e59;
    color: white;
    #answers-form {
      transition: 0.5s;
    }
    span {
      transition: 0.5s;
    }
  }
  #navigation {
    width: 80%;
    margin: 10px auto;
    &::after {
      content: '';
      display: block;
      clear: both;
    }
    button {
      border: none;
      border-radius: 2px;
      padding: 5px 10px;
      font-size: 1em;
      background-color: #312e59;
      color: white;
      &:hover {
        box-shadow: black 0 0 5px;
      }
    }
    #next {
      float: right;
    }
  }
  #progress {
    width: 100%;
    height: 5px;
    #bar {
      background-color: #312e59;
      height: 100%;
      width: 0;
      transition: ease-out 1s;
    }
  }
}

.hidden {
  opacity: 0;
}